.game {
    width: 32%;
    transition: all 200ms ease;
}
.game:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.226);
}

.game:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.226);
}

.game::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: inherit; */
    background-color: rgba(11, 34, 138, 0.466);
    transform: rotate(-70deg) scale(2) translateY(-120%);
    transition: transform 350ms ease;
    mix-blend-mode: darken;
}
.game:hover::before {
    transform: rotate(-70deg) scale(2) translateY(0);
}

.gameImg {
    width: 100%;
    object-fit: cover;
}

.hoverSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 300ms ease, all 200ms ease 250ms;
}
.game:hover .hoverSection {
    transform: translateY(0);
}

@media screen and (max-width: 1394px) {
    .game {
        width: 40%;
    }
}

@media screen and (max-width: 1230px) {
    .game {
        width: 45%;
    }
}

@media screen and (max-width: 650px) {
    .game {
        width: 75%;
    }
}

@media screen and (max-width: 550px) {
    .game {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .game {
        width: 100%;
    }
}
