@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: groches;
    src: url("/fonts/GROCHES.ttf");
}

/* .font-groches {
    font-family: groches;
} */

html {
    scroll-behavior: smooth;
}
