.homeMainContent {
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.4)
    );
    /* background-color: rgba(255, 255, 255, 0.6); */
    backdrop-filter: blur(10px);
    z-index: 100;
}

.gamesContainer::-webkit-scrollbar {
    display: none;
}
.gamesContainer {
    scroll-behavior: smooth;
}

.leftArr,
.rightArr {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    overflow: hidden;
    z-index: 5;
    transition: all 200ms ease;
}

.leftArr::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: white;
    transition: transform 300ms ease;
    z-index: -1;
}
.leftArr:hover::before {
    transform: translateX(0);
}
.leftArr:hover {
    color: #8800ff;
}

.rightArr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: white;
    transition: transform 300ms ease;
    z-index: -1;
}
.rightArr:hover::before {
    transform: translateX(0);
}
.rightArr:hover {
    color: #8800ff;
}
