.mainBg {
    min-height: 100vh;
    background-image: linear-gradient(
        to right,
        rgb(136, 0, 255),
        rgb(195, 0, 255)
    ) !important;
}

.mainContent {
    width: 84%;
    height: 100vh;
    overflow: auto;
}

.circle1 {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    width: 190px;
    height: 180px;
    border-radius: 50%;
    background-image: linear-gradient(
        to right bottom,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0.3)
    );
    /* z-index: 100; */
}
.circle2 {
    position: absolute;
    bottom: 2.5rem;
    left: 4rem;
    width: 190px;
    height: 180px;
    border-radius: 50%;
    background-image: linear-gradient(
        to right bottom,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0.3)
    );
    /* z-index: 100; */
}
