.mainBg {
    min-height: 100vh;
    background-image: linear-gradient(
        to right,
        rgb(136, 0, 255),
        rgb(195, 0, 255)
    ) !important;
}

.tabletUp {
    position: fixed;
    bottom: 1.2rem;
    right: 2rem;
    z-index: 50;
    background-color: white;
    padding: 0.6rem;
    border-radius: 50%;
    color: rgb(136, 0, 255);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);
}
.mobileUp {
    display: none;
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    z-index: 50;
    background-color: white;
    padding: 0.6rem;
    border-radius: 50%;
    color: rgb(136, 0, 255);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);
}

.mainContent {
    width: 82%;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
}

.circle1 {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    width: 190px;
    height: 180px;
    border-radius: 50%;
    background-image: linear-gradient(
        to right bottom,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0.3)
    );
    /* z-index: 100; */
}
.circle2 {
    position: absolute;
    bottom: 2.5rem;
    left: 4rem;
    width: 190px;
    height: 180px;
    border-radius: 50%;
    background-image: linear-gradient(
        to right bottom,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0.3)
    );
    /* z-index: 100; */
}

@media screen and (max-width: 1260px) {
    .mainContent {
        width: 80%;
    }
}

@media screen and (max-width: 1080px) {
    .mainContent {
        width: 77%;
    }
}

@media screen and (max-width: 929px) {
    .mainContent {
        width: 100%;
        height: max-content;
    }

    .tabletUp {
        display: none;
    }
    .mobileUp {
        display: block;
    }
}

@media screen and (max-width: 599px) {
    .mobileUp {
        bottom: 5.5rem;
    }
}
