.navbar {
    width: 18%;
    min-height: 100vh;
}

.logo {
    width: 100%;
}

.bottomNav {
    width: 100%;
    gap: 0.8rem;
}

.icons {
    display: block;
}

.navLink {
    transition: all 250ms ease;
    cursor: pointer;
}
.navLink:hover {
    background-color: white;
    color: #8b2be2;
}

.links {
    padding: 0.7rem 1rem;
}

.divider {
    margin: 1.5rem 0;
    height: 1px;
    background-color: rgb(228, 228, 228);
}

.follow {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: all 150ms ease;
}
.follow:hover {
    background-color: white;
    color: #8b2be2;
}

@media screen and (max-width: 1260px) {
    .navbar {
        width: 20%;
    }
}

@media screen and (max-width: 1080px) {
    .navbar {
        width: 23%;
    }
}

@media screen and (max-width: 929px) {
    .navbar {
        --length: 0.3rem;

        width: 100%;
        min-height: max-content;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 13px;
    }

    .logo {
        width: max-content;
    }

    .icons {
        display: none;
    }

    .bottomNav {
        width: 60%;
    }

    .links {
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 720px) {
    .bottomNav {
        width: 63%;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 700px) {
    .links {
        padding: 0.5rem 0;
    }
}

@media screen and (max-width: 670px) {
    .bottomNav {
        width: 58%;
    }
}

@media screen and (max-width: 599px) {
    .navLink {
        width: max-content;
    }
    .bottomNav {
        position: fixed;
        bottom: 1rem;
        left: 50%;
        width: 70%;
        transform: translateX(-50%);
        height: max-content;
        background-color: rgb(124, 9, 255);
        backdrop-filter: blur(1rem);
    }

    .icons {
        display: block;
    }

    .logo {
        width: 100%;
    }

    .links {
        padding: 0.6rem 0;
    }
}

@media screen and (max-width: 500px) {
    .bottomNav {
        width: 80%;
    }
}
