.searchContainer {
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.4)
    );
    backdrop-filter: blur(10px);
    z-index: 100;
    scroll-behavior: smooth;
    padding: 1.5rem 1.5rem;
}

.inputField {
    width: 60%;
}

.noData {
    width: 35%;
}
.gaming {
    width: 40%;
}

@media screen and (max-width: 1200px) {
    .gaming {
        width: 55%;
    }
}

@media screen and (max-width: 1090px) {
    .inputField {
        width: 70%;
    }
}

@media screen and (max-width: 1100px) {
    .noData {
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .inputField {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .gaming,
    .noData {
        width: 60%;
    }
}

@media screen and (max-width: 560px) {
    .inputField {
        width: 90%;
    }
}

@media screen and (max-width: 510px) {
    .noData {
        width: 55%;
    }
    .gaming {
        width: 70%;
    }
}

@media screen and (max-width: 460px) {
    .gaming {
        width: 80%;
    }
    .noData {
        width: 70%;
    }
}
